		<div id="footer" class="footer">
		    <div class="container">
		        <p class="text-muted">Biblioteka została stworzona przez Arkadiusza Szczepkowicza i Karolinę Pawlus. @2015 
		        </p>
		    </div>
		</div>
	</body>
</html>