<%= render 'header_2' %>
	<div class="editProfile">
		<div class="wrapper">
			<h2>Edytuj swój profil!</h2>
			<%= render 'devise/registrations/edit' %>
		</div>
    </div>
<%= render 'welcome/footer' %>
	