<%= render 'header_2' %>
	<div class="editProfile">
		<div class="wrapper">
			<h1>Edit Profile!</h1>
			<%= render 'devise/registrations/edit' %>
			
		</div>
		
    </div>
<%= render 'welcome/footer' %>
	