		</div>
		<div id="footer" class="footer">
		    <div class="container">
		        <p class="text-muted">Copyright Arkadiusz Szczepkowicz&Karolina Pawlus @2015</p>
		    </div>
		</div>
	</body>
</html>