<div id="footer" class="">
    <div class="container">
        <p class="text-muted">Biblioteka została stworzona przez Arkadiusza Szczepkowicza i Karoline Pawlus. @2015 
        </p>
    </div>
</div>