<%= render 'header' %>

	<div class="container">
		<h1>O nas!</h1>
		<p>
			Projekt został wykonany przez Karolinę Pawlus i Arkadiusza Szczepkowicza, studentów 3 - go roku Informatyki.
			
		</p>
		<%= yield %>
    </div>

<%= render 'footer' %>
	



