<%= image_tag(@book.image(:medium)) %>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <% @book.writers.each do |writer| %>
<%= writer.name %>
<% end %>
</p>
<p>
<%= @book.description %>
</p>

