<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @reader.name %></h1>
    <p>
      You were register successfully!
    </p>
  </body>
</html>