html,body{
	min-height: 800px !important;
}

body { 
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background: #000;
	box-shadow: 8px 0 4px #888888;
	margin-bottom: 0;
}

.footer {
	width: 100%;
	height: 40px;
	background: #000;
	box-shadow: -8px 0 4px #888888;
}

.mainPicture {
	width: 960px;
	height: 200px;
	margin: 0 auto;
}

ul.nav li a.mainLink {
	text-decoration: none;
}


.footer .text-muted {
	text-align: center;
	margin: 8px 0 0 5px;
}

.footer {
	position: fixed;
	bottom: 1px;
	left: 50%;
	transform: translateX(-50%);
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }


 /*LOGG*/

.log .wrapper{
	width: 20%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.log .wrapper h2{
	margin-top: 50px;
  display: block;
  text-align: center;
}
.log .wrapper .links-f a{
	display: block;
	padding-left: 25px;
}
.log .wrapper .links-f{
	margin-left: -40px;
}
.formHolder{
		
}
.searchForm {
	width: 400px;
	margin: 0 auto;
	overflow: auto;
	margin-top: 50px;
}
.searchForm input{
	width: 200px;
	float: left;
}

.searchForm input[type="submit"]{
	width: 100px;
}

table{
	margin: 50px auto;
}
table tr th {
	background: rgba(0,0,0,0.8);
	color: #fff;
	font-weight: bold;
	padding:20px; 
}
table tr td{
	 padding:20px;  
}
table tr:nth-child(odd){
	background: rgba(0,0,0,0.1);
}

.bookInfo{
	width: 400px;
	margin: 0 auto;
}
.myResHeader, .myBorrHeader{
	text-align: center;
}

.editProfile{
	width: 80%;
	margin: 50px auto;
}

.editProfile h1{
	text-align: center;
	margin: 50px 0;
}

.cancelAcc{margin-left: 194px;}

